Repository depromeet/mongsil-iOS, pull requests merged in 2022-05, with the labels that each got.

#42 feat: add modeltype and mock data
  Mongsil/Mongsil.xcodeproj/project.pbxproj
  Mongsil/Mongsil/Application/AppCore.swift
  Mongsil/Mongsil/Application/AppView.swift
  Mongsil/Mongsil/Application/SceneDelegate.swift
  Mongsil/Mongsil/Module/Component/Models/Dream.swift
  Mongsil/Mongsil/Module/Component/Models/DreamInfo.swift
  Mongsil/Mongsil/Module/Component/Models/Subcategory.swift
  Mongsil/Mongsil/Module/Component/Models/User.swift
  Mongsil/Mongsil/Module/Component/Views/TabView/MSTabView.swift
  Mongsil/Mongsil/Module/Feature/MainTab/MainTabView.swift
Labels: ⚡️feat

#45 feat: Change Account & add Apple Login
  Mongsil/Mongsil.xcodeproj/project.pbxproj
  Mongsil/Mongsil/Application/AppCore.swift
  Mongsil/Mongsil/Application/AppDelegate.swift
  Mongsil/Mongsil/Application/AppView.swift
  Mongsil/Mongsil/Application/SceneDelegate.swift
  Mongsil/Mongsil/Info.plist
  Mongsil/Mongsil/Module/Component/Models/Dream.swift
  Mongsil/Mongsil/Module/Component/Models/DreamInfo.swift
  Mongsil/Mongsil/Module/Component/Models/Subcategory.swift
  Mongsil/Mongsil/Module/Component/Models/User.swift
  Mongsil/Mongsil/Module/Component/Services/AppleLoginService.swift
  Mongsil/Mongsil/Module/Component/Services/KakaoLoginService.swift
  Mongsil/Mongsil/Module/Component/Services/UserService.swift
  Mongsil/Mongsil/Module/Component/SharedState/SharedState.swift
  Mongsil/Mongsil/Module/Component/Views/TabView/MSTabView.swift
  Mongsil/Mongsil/Module/Feature/Login/LoginCore.swift
  Mongsil/Mongsil/Module/Feature/Login/LoginView.swift
  Mongsil/Mongsil/Module/Feature/MainTab/MainTabCore.swift
  Mongsil/Mongsil/Module/Feature/MainTab/MainTabView.swift
  Mongsil/Mongsil/Mongsil.entitlements
  Mongsil/generated/R.generated.swift
Labels: ⚡️feat

#46 feat: Add User Service API
  Mongsil/Mongsil.xcodeproj/project.pbxproj
  Mongsil/Mongsil/Application/AppCore.swift
  Mongsil/Mongsil/Application/SceneDelegate.swift
  Mongsil/Mongsil/Module/Component/ErrorHandling/ErrorFactory.swift
  Mongsil/Mongsil/Module/Component/Extensions/Unit.swift
  Mongsil/Mongsil/Module/Component/Services/DropoutService.swift
  Mongsil/Mongsil/Module/Component/Services/RequestDto/CheckUserRequestDto.swift
  Mongsil/Mongsil/Module/Component/Services/RequestDto/DropoutRequestDto.swift
  Mongsil/Mongsil/Module/Component/Services/RequestDto/SignUpUserRequestDto.swift
  Mongsil/Mongsil/Module/Component/Services/ResponseDto/CheckUserDto.swift
  Mongsil/Mongsil/Module/Component/Services/ResponseDto/CommonResponseDto.swift
  Mongsil/Mongsil/Module/Component/Services/ResponseDto/SignUpUserDto.swift
  Mongsil/Mongsil/Module/Component/Services/SignUpService.swift
  Mongsil/Mongsil/Module/Component/Services/URL/URLHost.swift
  Mongsil/Mongsil/Module/Component/Services/UserService.swift
  Mongsil/Mongsil/Module/Feature/Login/LoginCore.swift
  Mongsil/Mongsil/Module/Feature/MainTab/MainTabCore.swift
Labels: ⚡️feat

#49 feat: Add Home Initial View
  Mongsil/Mongsil.xcodeproj/project.pbxproj
  Mongsil/Mongsil/Application/AppDelegate.swift
  Mongsil/Mongsil/Info.plist
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Colors/Gray10.colorset/Contents.json
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Colors/Gray11.colorset/Contents.json
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Colors/Gray6.colorset/Contents.json
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Colors/Gray7.colorset/Contents.json
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Colors/Gray8.colorset/Contents.json
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Colors/Gray9.colorset/Contents.json
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Colors/MSTabBar.colorset/Contents.json
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Colors/MSYellow.colorset/Contents.json
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Icons/ArrowDownIcon.imageset/ArrowDownIcon.svg
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Icons/ArrowDownIcon.imageset/Contents.json
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Icons/ArrowLeftIcon.imageset/ArrowLeftIcon.svg
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Icons/ArrowRightIcon.imageset/ArrowRightIcon.svg
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Icons/ArrowUpIcon.imageset/ArrowUpIcon.svg
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Icons/ArrowUpIcon.imageset/Contents.json
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Icons/BackIcon.imageset/BackIcon.svg
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Icons/BookmarkIcon.imageset/BookmarkIcon.svg
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Icons/CancelIcon.imageset/CancelIcon.svg
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Icons/CancelSmallIcon.imageset/CancelSmallIcon.svg
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Icons/CancelSmallIcon.imageset/Contents.json
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Icons/CheckIcon.imageset/CheckIcon.svg
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Icons/DeleteIcon.imageset/DeleteIcon.svg
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Icons/FilterIcon.imageset/Contents.json
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Icons/FilterIcon.imageset/FilterIcon.svg
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Icons/HomeActiveIcon.imageset/Contents.json
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Icons/HomeActiveIcon.imageset/HomeActiveIcon.svg
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Icons/HomeDisabledIcon.imageset/Contents.json
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Icons/HomeDisabledIcon.imageset/HomeDisabledIcon.svg
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Icons/MoreIcon.imageset/Contents.json
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Icons/MoreIcon.imageset/MoreIcon.svg
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Icons/PlusIcon.imageset/PlusIcon.svg
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Icons/RecordIcon.imageset/Contents.json
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Icons/RecordIcon.imageset/RecordIcon.svg
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Icons/SaveIcon.imageset/SaveIcon.svg
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Icons/SearchIcon.imageset/SearchIcon.svg
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Icons/SettingIcon.imageset/SettingIcon.svg
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Icons/ShareIcon.imageset/ShareIcon.svg
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Icons/StorageActiveIcon.imageset/Contents.json
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Icons/StorageActiveIcon.imageset/StorageActiveIcon.svg
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Icons/StorageDisabledIcon.imageset/Contents.json
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Icons/StorageDisabledIcon.imageset/StorageDisabledIcon.svg
  Mongsil/Mongsil/Module/Component/Assets/Colors/Color+extensions.swift
  Mongsil/Mongsil/Module/Component/Assets/Colors/Colors+Generated.swift
  Mongsil/Mongsil/Module/Component/Assets/Colors/UIColor+extensions.swift
  Mongsil/Mongsil/Module/Component/Assets/Fonts/Fonts+Generated.swift
  Mongsil/Mongsil/Module/Component/Assets/Fonts/Pretendard/Pretendard-Light.ttf
  Mongsil/Mongsil/Module/Component/Assets/Fonts/UIFont+extensions.swift
  Mongsil/Mongsil/Module/Component/Assets/Images/Image+Generated.swift
  Mongsil/Mongsil/Module/Component/Extensions/View/View+extensions.swift
  Mongsil/Mongsil/Module/Component/Views/Badge/KeywordBadgeView.swift
  Mongsil/Mongsil/Module/Component/Views/TabView/MSTabView.swift
  Mongsil/Mongsil/Module/Component/Views/Toast/Toast.swift
  Mongsil/Mongsil/Module/Feature/Home/HomeCore.swift
  Mongsil/Mongsil/Module/Feature/Home/HomeView.swift
  Mongsil/Mongsil/Module/Feature/Home/Search/SearchCore.swift
  Mongsil/Mongsil/Module/Feature/Home/Search/SearchView.swift
  Mongsil/Mongsil/Module/Feature/MainTab/MainTabView.swift
  Mongsil/generated/R.generated.swift
Labels: ⚡️feat

#50 feat: Add storage initial view
  Mongsil/Mongsil.xcodeproj/project.pbxproj
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Colors/StorageBackground.colorset/Contents.json
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Image/Background/BackgroundImage.imageset/Background Image.svg
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Image/Background/BackgroundImage.imageset/Contents.json
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Image/Background/BackgroundImage2.imageset/BackgroundImage2.svg
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Image/Background/BackgroundImage2.imageset/Contents.json
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Image/Background/Contents.json
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Image/Buttons/AppleLoginButton.imageset/Contents.json
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Image/Buttons/AppleLoginButton.imageset/appleLoginButton.svg
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Image/Buttons/Contents.json
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Image/Buttons/KakaoLoginButton.imageset/Contents.json
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Image/Buttons/KakaoLoginButton.imageset/kakaoLoginButton.svg
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Image/Contents.json
  Mongsil/Mongsil/Module/Component/Assets/Colors/Color+extensions.swift
  Mongsil/Mongsil/Module/Component/Assets/Colors/Colors+Generated.swift
  Mongsil/Mongsil/Module/Component/Assets/Colors/UIColor+extensions.swift
  Mongsil/Mongsil/Module/Component/Assets/Images/Image+Generated.swift
  Mongsil/Mongsil/Module/Component/Extensions/Date+extensions.swift
  Mongsil/Mongsil/Module/Component/Models/Diary.swift
  Mongsil/Mongsil/Module/Component/Models/Dream.swift
  Mongsil/Mongsil/Module/Component/Models/DreamInfo.swift
  Mongsil/Mongsil/Module/Component/Models/Subcategory.swift
  Mongsil/Mongsil/Module/Component/Services/KakaoLoginService.swift
  Mongsil/Mongsil/Module/Component/Services/URL/URLHost.swift
  Mongsil/Mongsil/Module/Component/Views/Badge/KeywordBadgeView.swift
  Mongsil/Mongsil/Module/Component/Views/NavigationBar/MSNavigationBar.swift
  Mongsil/Mongsil/Module/Component/Views/SegmentView/SegmentView.swift
  Mongsil/Mongsil/Module/Component/Views/TabView/MSTabView.swift
  Mongsil/Mongsil/Module/Feature/Login/LoginCore.swift
  Mongsil/Mongsil/Module/Feature/MainTab/MainTabView.swift
  Mongsil/Mongsil/Module/Feature/Storage/StorageCore.swift
  Mongsil/Mongsil/Module/Feature/Storage/StorageView.swift
  Mongsil/generated/R.generated.swift
Labels: ⚡️feat

#51 refactor: home storage initial view
  Mongsil/Mongsil.xcodeproj/project.pbxproj
  Mongsil/Mongsil/Module/Component/Views/TabView/MSTabView.swift
  Mongsil/Mongsil/Module/Feature/Dream/DreamCore.swift
  Mongsil/Mongsil/Module/Feature/Dream/DreamView.swift
  Mongsil/Mongsil/Module/Feature/Storage/Diary/DiaryCore.swift
  Mongsil/Mongsil/Module/Feature/Storage/Diary/DiaryView.swift
  Mongsil/Mongsil/Module/Feature/Storage/StorageCore.swift
  Mongsil/Mongsil/Module/Feature/Storage/StorageView.swift
Labels: ⚡️feat, ♻️refactor

#53 feat: storage view
  Mongsil/Mongsil.xcodeproj/project.pbxproj
  Mongsil/Mongsil/Application/AppDelegate.swift
  Mongsil/Mongsil/Module/Component/Extensions/Date+extensions.swift
  Mongsil/Mongsil/Module/Component/Views/AlertModal/AlertDoubleButton/AlertDoubleButtonCore.swift
  Mongsil/Mongsil/Module/Component/Views/AlertModal/AlertDoubleButton/AlertDoubleButtonView.swift
  Mongsil/Mongsil/Module/Component/Views/BottomSheet/BottomSheet.swift
  Mongsil/Mongsil/Module/Component/Views/Buttons/AlertButton.swift
  Mongsil/Mongsil/Module/Component/Views/NavigationBar/MSNavigationBar.swift
  Mongsil/Mongsil/Module/Component/Views/TabView/MSTabView.swift
  Mongsil/Mongsil/Module/Feature/Dream/DreamView.swift
  Mongsil/Mongsil/Module/Feature/Home/Search/SearchView.swift
  Mongsil/Mongsil/Module/Feature/Login/LoginView.swift
  Mongsil/Mongsil/Module/Feature/MainTab/MainTabCore.swift
  Mongsil/Mongsil/Module/Feature/MainTab/MainTabView.swift
  Mongsil/Mongsil/Module/Feature/Record/RecordView.swift
  Mongsil/Mongsil/Module/Feature/Setting/AppInfo/AppInfoView.swift
  Mongsil/Mongsil/Module/Feature/Setting/AppInfo/OpenSource/OpenSourceView.swift
  Mongsil/Mongsil/Module/Feature/Setting/AppInfo/PersonalInfoPolicy/PersonalInfoPolicyView.swift
  Mongsil/Mongsil/Module/Feature/Setting/AppInfo/Terms/TermsView.swift
  Mongsil/Mongsil/Module/Feature/Setting/Profile/ProfileView.swift
  Mongsil/Mongsil/Module/Feature/Setting/SettingView.swift
  Mongsil/Mongsil/Module/Feature/Storage/Diary/DiaryView.swift
  Mongsil/Mongsil/Module/Feature/Storage/StorageCore.swift
  Mongsil/Mongsil/Module/Feature/Storage/StorageView.swift
  Mongsil/generated/R.generated.swift
Labels: ⚡️feat, ♻️refactor

#57 fix: maintextfield avoid when keybord pop up
  Mongsil/Mongsil/Module/Component/Extensions/View/View+extensions.swift
  Mongsil/Mongsil/Module/Feature/Record/RecordView.swift
Labels: 🔧fix

#62 refactor: Display selectDate View
  Mongsil/Mongsil/Module/Component/Views/NavigationBar/MSNavigationBar.swift
  Mongsil/Mongsil/Module/Feature/Storage/StorageCore.swift
  Mongsil/Mongsil/Module/Feature/Storage/StorageView.swift
Labels: ♻️refactor

#64 feat: settingView and core
  Mongsil/Mongsil.xcodeproj/project.pbxproj
  Mongsil/Mongsil/Application/AppCore.swift
  Mongsil/Mongsil/Application/AppView.swift
  Mongsil/Mongsil/Application/SceneDelegate.swift
  Mongsil/Mongsil/Module/Component/Extensions/String+extensions.swift
  Mongsil/Mongsil/Module/Component/Extensions/View/UINavigationController+extensions.swift
  Mongsil/Mongsil/Module/Component/Models/Makers.swift
  Mongsil/Mongsil/Module/Component/Services/DropoutService.swift
  Mongsil/Mongsil/Module/Component/Services/RequestDto/DropoutRequestDto.swift
  Mongsil/Mongsil/Module/Component/Services/ResponseDto/CheckUserDto.swift
  Mongsil/Mongsil/Module/Component/Services/ResponseDto/CommonResponseDto.swift
  Mongsil/Mongsil/Module/Component/Services/ResponseDto/SignUpUserDto.swift
  Mongsil/Mongsil/Module/Component/Services/SignUpService.swift
  Mongsil/Mongsil/Module/Component/Services/UserDreamListService.swift
  Mongsil/Mongsil/Module/Component/Services/UserService.swift
  Mongsil/Mongsil/Module/Component/SharedState/SharedState.swift
  Mongsil/Mongsil/Module/Feature/Login/LoginCore.swift
  Mongsil/Mongsil/Module/Feature/MainTab/MainTabCore.swift
  Mongsil/Mongsil/Module/Feature/Setting/AppInfo/AppInfoCore.swift
  Mongsil/Mongsil/Module/Feature/Setting/AppInfo/AppInfoView.swift
  Mongsil/Mongsil/Module/Feature/Setting/AppInfo/Makers/MakersCore.swift
  Mongsil/Mongsil/Module/Feature/Setting/AppInfo/Makers/MakersView.swift
  Mongsil/Mongsil/Module/Feature/Setting/AppInfo/OpenSource/OpenSourceView.swift
  Mongsil/Mongsil/Module/Feature/Setting/AppInfo/PersonalInfoPolicy/PersonalInfoPolicyView.swift
  Mongsil/Mongsil/Module/Feature/Setting/AppInfo/Terms/TermsView.swift
  Mongsil/Mongsil/Module/Feature/Setting/Profile/ProfileCore.swift
  Mongsil/Mongsil/Module/Feature/Setting/Profile/ProfileView.swift
  Mongsil/Mongsil/Module/Feature/Setting/SettingCore.swift
  Mongsil/Mongsil/Module/Feature/Setting/SettingView.swift
  Mongsil/Mongsil/Module/Feature/Storage/StorageCore.swift
  Mongsil/Mongsil/Module/Feature/Storage/StorageView.swift
  Mongsil/generated/R.generated.swift
Labels: ⚡️feat

#63 feat: Add dream and diary result view
  Mongsil/Mongsil.xcodeproj/project.pbxproj
  Mongsil/Mongsil.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/CardResult/Contents.json
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/CardResultDefaultImage.imageset/CardResultDefaultImage.svg
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/CardResultDefaultImage.imageset/Contents.json
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Icons/BackIcon.imageset/BackIcon.svg
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Image/Background/ResultBackgroundImage.imageset/Contents.json
  Mongsil/Mongsil/Module/Component/Assets/Assets.xcassets/Image/Background/ResultBackgroundImage.imageset/ResultBackgroundImage.jpg
  Mongsil/Mongsil/Module/Component/Assets/Images/Image+Generated.swift
  Mongsil/Mongsil/Module/Component/Extensions/Collections+extensions.swift
  Mongsil/Mongsil/Module/Component/Models/Category.swift
  Mongsil/Mongsil/Module/Component/Models/Diary.swift
  Mongsil/Mongsil/Module/Component/Models/UserDream.swift
  Mongsil/Mongsil/Module/Component/Views/ActivityView/ActivityView.swift
  Mongsil/Mongsil/Module/Component/Views/CardResultView/CardResult.swift
  Mongsil/Mongsil/Module/Component/Views/CardResultView/CardResultCore.swift
  Mongsil/Mongsil/Module/Component/Views/CardResultView/CardResultView.swift
  Mongsil/Mongsil/Module/Feature/Dream/DreamCore.swift
  Mongsil/Mongsil/Module/Feature/Dream/DreamView.swift
  Mongsil/Mongsil/Module/Feature/Storage/Diary/DiaryCore.swift
  Mongsil/Mongsil/Module/Feature/Storage/Diary/DiaryView.swift
  Mongsil/Mongsil/Module/Feature/Storage/StorageCore.swift
  Mongsil/generated/R.generated.swift
Labels: ⚡️feat
